        /*=======Import Google-Fonts========*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


            /*=======Universal========*/

*
{
    margin: 0;
    padding: 0;
}

            /*=======Body========*/

body
{
    font-family: 'Poppins', sans-serif;
    
    
}

        /*=======Conmebol Section========*/


.conmebol
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2D25A0;
    
    min-height: 677px;
}
.conmebol .left
{
    width: 45%;
    text-align: center;
}

.conmebol .left h1
{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 24px;
}
.conmebol .left a
{
    background: #E02C6D;
    width: 168px;
    
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    margin: 0 auto;
    display: block;
    transition: width .5s ease-in-out ;

}
.conmebol .left a:hover
{
    width: 200px;
}


.conmebol .right
{
    width: 45%;
    
}
.conmebol .right img
{
    width: 556.01px;
    height: 438px;
}


        /*=======Player List Section========*/



.player-list
{
    margin-top: 20px;
}

.player-list .container
{
   width: 80%;
   margin: 0 auto;
}

.player-list .container .list 
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 15px;
    margin: 0 auto;
}

.player-list .container .list  .first
{
    width: 330px;
    height: 474px;
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-list .container .list  .first .full-details
{
    padding: 10px;
}

.player-list .container .list .first img
{
    width: 100%;
    height: 256px;
}


        /*=======Awards Section========*/

.awards
{
    margin-top: 30px;
    min-height: 300px;
    background: darkblue;
    overflow: hidden;
}
.awards .award-list
{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 92px 100px;
}
.awards .award-list .count h3
{
 color:#FFFFFF;
 font-size: 50px;
 
}
.awards .award-list .count p
{
 color:#FFFFFF;
 font-size: 20px;
 
}



  /*=======Top Player List========*/


  .top-player
  {
      margin-top: 20px;
  }

  .top-player>h1
  {
      margin-left: 141px;
      color: #2D25A0;
      margin-bottom: 20px;

  }
  .top-player .top-list
  {
      display: flex;
      
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      
  }

  .top-player .top-list .player-one
  {
    min-width: 330px;
    min-height: 474px;
    margin:0 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }

  .top-player .top-list .player-one .full-details
  {
      padding: 10px;
  }

  .top-player .top-list .player-one img
{
    width: 100%;
    height: 256px;
}



            /*=======Footer========*/


footer
{
    margin: 80px 0px 40px 0px;
    text-align: center;
}

footer .img img
{
    width: 490px;
}

footer .icon a
{
    margin: 0 5px;
}
footer .icon a i
{
    color: gray;
}
footer .copyright 
{
    margin-top: 15px;
}
footer .copyright a
{
    text-decoration: none;
    color: gray;
}


  /*======== Media Query For Mobile Devices ========*/

  @media only screen and (max-width: 688px) 
      {
        .conmebol
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #2D25A0;
            
        
        }
    .conmebol .left
    {
        width: 100%;
        text-align: center;
    }
    .conmebol .left h1
    {
        color: #FFFFFF;
        font-size: 50px;
        line-height: 80px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    
    .conmebol .right
    {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    
    }
    .conmebol .right img
    {
        width: 400px;
        height: 300px;
    }
    
           /* Player list */
   
   .player-list .container
   {
       width: 100%;
       margin: 0 auto;
   }
    
    .player-list .container .list 
    {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    
  
    .player-list .container .list  .first
    {
        min-width: 330px;
        min-height: 474px;
        margin: 0 auto;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    
    .player-list .container .list .first img
    {
        width: 100%;
        min-height: 256px;
    }
    
    
            /* Awards Section */
    
          
    .awards .award-list
     {
                display: flex;
                flex-direction: column;
                align-content: center;
               text-align: center;
     }
     .awards .award-list .count
     {
            margin-bottom: 20px;
     }

        /* Top Player */

        .top-player>h1
        {
            margin-left: 5px;
           
      
        }
        .top-player .top-list
        {
            display: flex;
            flex-direction: column;
            
            
            
        }
      
        .top-player .top-list .player-one
        {
          width: 330px;
          height: 474px;
          margin-bottom: 20px;
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        }
      
        
      
        .top-player .top-list .player-one img
      {
          width: 100%;
          height: 256px;
      }


      /* Footer section */
      
    

    footer .img img
    {
        width: 300px;
    }

  }


    /*======== Media Query For Tablet ========*/


  @media only screen and (min-width:689px) and (max-width:991px) {
    .conmebol
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #2D25A0;
        
    
    }

.conmebol .left h1
{
    color: #FFFFFF;
    font-size: 50px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 24px;
}

.conmebol .right
{
    width: 100%;
    margin-top: 30px;
    text-align: center;

}
.conmebol .right img
{
    width: 400px;
    height: 300px;
}

       /* Player list */

.player-list .container
{
    margin:0 auto;
}

.player-list .container .list 
{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: center;
}

.player-list .container .list  .first
{
    min-width: 330px;
    min-height: 474px;
    margin: 0 auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.player-list .container .list .first img
{
    width: 100%;
    min-height: 256px;
}


        /* Awards Section */

      
.awards .award-list
 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
           text-align: center;
 }
 .awards .award-list .count
 {
        margin-bottom: 20px;
 }

    /* Top Player */

    .top-player>h1
    {
        margin-left: 5px;
       
  
    }
    .top-player .top-list
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .top-player .top-list .player-one
  {
    width: 330px;
    height: 474px;
    margin:10px 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
   


  /* Footer section */
  


    footer .img img
    {
    width: 300px;
    }

  }