/*Import Google-Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Poppins', sans-serif;
    
    
}


.conmebol
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2D25A0;
    
    height: 677px;
}
.conmebol .left
{
    width: 45%;
    text-align: center;
}

.conmebol .left h1
{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 24px;
}
.conmebol .left a
{
    background: #E02C6D;
    width: 168px;
    
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    margin: 0 auto;
    display: block;
    transition: width .5s ease-in-out ;

}
.conmebol .left a:hover
{
    width: 200px;
}


.conmebol .right
{
    width: 45%;
    
}
.conmebol .right img
{
    width: 556.01px;
    height: 438px;
}


/* section player list */


.player-list
{
    margin-top: 20px;
}

.player-list .container
{
    margin: 0 100px;
}

.player-list .container .list 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player-list .container .list  .first
{
    width: 330px;
    height: 474px;
    margin: 0 10px 10px 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-list .container .list  .first .full-details
{
    padding: 10px;
}

.player-list .container .list .first img
{
    width: 100%;
    height: 256px;
}

/* Awards Section */

.awards
{
    margin-top: 30px;
    height: 300px;
    background: darkblue;
    overflow: hidden;
}
.awards .award-list
{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 92px 100px;
}
.awards .award-list .count h3
{
 color:#FFFFFF;
 font-size: 50px;
 
}
.awards .award-list .count p
{
 color:#FFFFFF;
 font-size: 20px;
 
}



  /* Top Player lIst */

  .top-player
  {
      margin-top: 20px;
  }

  .top-player>h1
  {
      margin-left: 163px;
      color: #2D25A0;

  }
  .top-player .top-list
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      
  }

  .top-player .top-list .player-one
  {
    width: 330px;
    height: 474px;
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }

  .top-player .top-list .player-one .full-details
  {
      padding: 10px;
  }

  .top-player .top-list .player-one img
{
    width: 100%;
    height: 256px;
}



/* Footer */

footer
{
    margin: 80px 0px;
    text-align: center;
}

footer .img img
{
    width: 490px;
}

footer .icon a
{
    margin: 0 5px;
}
footer .icon a i
{
    color: gray;
}
footer .copyright 
{
    margin-top: 15px;
}
footer .copyright a
{
    text-decoration: none;
    color: gray;
}